body {background-color: #f0f0f0; font-family: Arial, sans-serif;
     font-size: 14px; color: #333;}

.tarefa1 {color: #2d7bce; font-size: 16px;
     letter-spacing: 1px; text-align: justify; line-height: 1.2;}

.tarefa1 span {font-weight: bold; background-color: #e0e0e0; padding: 2px 4px;}

a {text-decoration: none; color: #2d7bce; padding: 3px 5px;}

a:hover {text-decoration: underline; padding: 3px 5px; background-color: #d0d0d0;
     transition: background-color 0.3s ease; border-radius: 4px;}

table {width: 100%;border: 1px solid #ccc;}

td, th {text-align: center; border-bottom: 1px solid #4d4747; border-collapse: collapse;}
    th {background-color: #313030; color:#ffffff}

tr:hover td {background-color: #bebebe!important; transition: background-color 0.3s ease;
     cursor: pointer;}

table tbody tr:nth-child(even) td {background-color: #cfcfcf;}



img {border: 2px solid #ccc; border-radius: 8px; box-shadow: 3px 2px 5px transparent;
        cursor: pointer; filter: grayscale(100%);}
    
img:hover {box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.44); filter:none;}

footer p {display: none;}

footer:hover p {display: block;}

label {display: block; margin-bottom: 3px;}

input, textarea {padding: 7px 10px; background-color: #e0e0e0; border: 0; border-radius: 5px;}

input:focus, textarea:focus {outline: none; background-color: #a4ffb1; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);}

button {background-color: #2d7bce; color: #fff; border: none; padding: 10px 20px;
     border-radius: 5px; cursor: pointer; transition: background-color 0.3s ease;}

#saibamais 